@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

$decorate__colour: #F16D7F;

.header{
    
    height: 75px;
    background: #222222;
}

.header__position {
    margin: 0 auto;
    max-width: 1600px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    padding-left: 231px;
    align-items: center;
}

.left__search {
    padding-left: 41px;
}

.right {
    display: flex;
    padding-right: 231px;
    align-items:center;
}

.right__person {
    padding: 0 33px;
}


.main__banner__colour {
    background-color: #F1E4E6;
}

.main__banner {
    margin: 0 auto;
    width: 1600px;
    display: flex;
    height: 764px;
   
}

.heading__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

}

.heading__cart {
color: white;
text-align: center;
}

.banner__heading{
    font-weight: 900;
    font-size: 48px;
    line-height: 44px;
    color: #222222;
    border-left: 12px solid #F16D7F;;
    margin-top: 290px;
    margin-bottom: 383px;
    padding-left: 16px;
    white-space: nowrap;
}

.banner__heading__style {
    font-weight: 700;
    font-size: 32px;
    line-height: 44.4px;
}

.banner__heading__style__color{
color: $decorate__colour;
}

.centering  {
    margin: 0 auto;
    max-width: 1600px;
}

.container__catalog {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.catalog__box {
    padding-right: 30px;
    padding-bottom: 30px;
}

.to__product__page {
    text-decoration: none;
    color: black;
}

.items__text {
    margin: 66px 0 48px 0;
    text-align: center;
}

.middle__heading {
    font-size: 30px;
    line-height: 36px;
}

.small__heading {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    font-weight: 300;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}


.items__catalog__button {
    margin: 0 auto;
    width: 282px;
    height: 43px;
    margin-bottom: 96px;
    border: 1px solid #EBEBEB;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.items__card {
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.items__card__hover {
    position: absolute;
    width: 360px;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    margin-top: -424px;
    opacity: 0;

}

.items__card__hover:hover {
    visibility: visible;
    opacity: 100;
}

.cart__icon{
    width: 138px;
    height: 43px;
    border: 1px solid white;
    margin: 188px 111px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}


.card__discription {
    background-color: #F8F8F8;
    padding: 10px 28px 20px 18px;
    height: 110px;
} 

.card__item__name {
    line-height: 46px;
}

.card__item__name__color {
    color: #F16D7F;
}

.items__button__catalog {
    text-align: center;
    height: 47px;
    margin-top: 18px;
    margin-bottom: 95px;
    margin-right: 30px;
}

.items__button {
    border: 1px solid #F16D7F;
    margin: 0 auto;
    width: 211px;
}

.items__button:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}

.top__footer {
  background-color: #222224;  
}

.abt__service {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 104px 30px 104px 0;
}

.abt__service__description {
    text-align: center;
    width: 315px;
}

.abt__service__text {
    font-size: 19.96px;
    line-height: 62px;
    color: #FBFBFB;
    
}

.abt__service__text_p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    opacity: 0.65;
}

.middle__footer {
    position: relative;
    margin: 0 auto;
    background-image: url(img/footer_layer.png);
    background-size: 100%;
    height: 448px;
    background-repeat: no-repeat;
}

.middle__footer__content {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.middle__footer__background {
    opacity: 0.4;
}

.footer__review {
    text-align: center;
    width: 350px;
    margin-left: 201px;
    margin-right: 340px;
    padding-top: 87px;
}

.footer__review__text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 32px;
}

.mail__form {
    padding-top: 150px;
}

.mail__form__text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.mail__form__text__style {
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
}

.mail__form__name {
    width: 256px;
    height: 49px;
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    margin: -5px;
    margin-top: 32px;
    font-family: 'Lato';
    font-size: 14px;

}

.mail__form__submit {
    width: 100px;
    height: 49px;
    background: $decorate__colour;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    color: white;
}

.bottom__footer {
    height: 79px;
    background: #222224;
}    

.bottom__footer__content {
    margin: 0 auto;
    width: 1660px;
    display: flex;
}

.bottom__footer__text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.signatyre {
margin-right: 235px;
margin-top: 30px;
}

.social__links {
    display: flex;
    margin-top: 24px;
    margin-left: 725px;
}

.links__logo {
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 7px;
    justify-content: center;
}

.banner__catalog {
    margin: 0 auto;
    height: 148px;
    display: flex;
    max-width: 1600px;
    justify-content: space-between;
}

.banner__catalog__text {
    font-size: 24px;
    line-height: 29px;
    color: $decorate__colour;
    margin-top: 59px;
    margin-left: 230px;
}

.main__banner__links {
    display: flex;
    margin-top: 65px;
    flex-wrap: wrap; 
    margin-right: 230px;
}

.banner__links__style {
    
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.main__navigation {
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 64px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
}

.navigation__filter {
    margin-left: 246px;
}

.navigation__filter__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.navigation__filter-menu {
    margin-right: 645px;
    display: flex;
}

.filter-menu__text {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.filter-menu__icon {
    margin-left: 10px;
    margin-right: 28px;
}

.browse__button__number {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #9b9b9b;
}

.banner__product {
    position: relative;
    background-color: #F7F7F7;
    height: 777px;
    text-align: center;
    margin-bottom: 665px;
}

.banner__arrows__flex {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.banner__arrow__left {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.banner__arrow__right {
    width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.banner__image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__card__section {
    width: 1140px;
    height: 601px;
    background-color: #FFFFFF;
    position: absolute;
    box-shadow: 0 0 5px #d2d2d2;
    margin-top: 690px;
}

.description__card__item {
    padding-top: 64px;
}

.card__item__line {
    width: 64px;
    border-bottom: 4px solid $decorate__colour;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
}

.product__item__text {
    max-width: 555px;
    margin: 0 auto;
    
}

.item__name__heading {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
}

.item__price__text {
    width: 640px;
    height: 75px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $decorate__colour;
    margin-top: 32px;
    margin-bottom: 45px;
    display: inline-block;
    border-bottom: 1px solid #EAEAEA;
}

.card__item__filter {
    display: flex;
    justify-content: center;
}

.item__filter__element {
    display: flex;
    align-items: center;
}

.item__filter__arrow {
    margin-left: 9px;
    margin-right: 22px;
}

.cart__icon__catalog {
    width: 211px;
    height: 47px;
    border: 1px solid #F16D7F;
    margin: 0 auto;
    margin-top: 48px;
}

.heading__cart__catalog {
    color: $decorate__colour;
}

.cart__flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 96px;
    padding-left: 395px;
    margin-bottom: 128px;
    width: 1554px;
  
}

.cart__item__card {
    width: 652px;
    height: 306px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 25px 1px rgba(182, 185, 186, 0.60);
    display: flex;
    margin-bottom: 40px;
}

.item__img {
    max-width: 262px;
}

.abt__item {
    width: 211px;
    padding-left: 31px;
    padding-top: 22px;
    position: relative;
}

.close__button {
    position: absolute;
    margin-top: -227px;
    margin-left: 314px;
}

.cart__item__name {
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}

.item__parameters__text {
    font-size: 22px;
    line-height: 34px;
    color: #575757;
    margin-top: 42px;
}

.clear__cart__button, .continue__cart__button {
    width: 239px;
    height: 49px;
    border: 1px solid #A4A4A4;
    text-align: center;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    background-color: white;
}

.cart__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.order__information {
    margin-left: 128px;
    
}

.adress__button {
    width: 358px;
    height: 44px;
    border: 1px solid #A4A4A4;
    text-align:left;
    font-family: 'Lato';
    font-size: 13px;
    font-weight: 300;
    background-color: white;
    margin-bottom: 21px;
    padding-left: 16px;
}

.quote__button {
    width: 100px;
    height: 34px;
    font-size: 11px;
    text-align: center;
    color: #4A4A4A;
    padding-left: 0;
}

.checkout__field {
    width: 376px;
    height: 177px;
    background-color: #F5F3F3;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__text__container {
    width: 275px;
    border-bottom: 1px solid #E2E2E2;;
    padding-bottom: 21px;
    line-height: 28px;
    text-align: end;
}

.total__price__text{
    font-size: 16px;
    line-height: 44px;
    color: #222222;
}

.checkout__button {
    width: 273px; 
    height: 50px;
    background-color: $decorate__colour;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-top: 17px
}